.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.mapboxgl-ctrl.mapboxgl-ctrl-attrib a {
  display: none;
}
.mapboxgl-ctrl.mapboxgl-ctrl-attrib .mapbox-improve-map{
  display: block;
}
